{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Add{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Burger add</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}