{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Delete{% endblock %}

{% block body %}
    <h1 class="text-center">Burger delete</h1>
    <p>Burger delete action => {{ id }}</p>
{% endblock %}