{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - List{% endblock %}

{% block body %}
    <h1 class="text-center">Burger list</h1>
    <div class="container">
        <div class="row">
            <a href="{{ path('kits_burger_add') }}" class="btn btn-success">Ajouter</a>
        </div>
        <div class="row">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Prix</th>
                    <th class="text-center">Supplément</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for burger in burgers %}
                    <tr>
                        <td class="text-center">{{ burger.id }}</td>
                        <td class="text-left">{{ burger.name }}</td>
                        <td class="text-left">{{ burger.description }}</td>
                        <td class="text-right">{{ "%.2f"|format(burger.price) }}€</td>
                        <td class="text-right">{{ "%.2f"|format(burger.supplement) }}€</td>
                        <td class="text-right">
                            <a href="{{ path('kits_burger_edit',{'id':burger.id}) }}" class="btn btn-default">Modifier</a>
                            <a href="{{ path('kits_burger_delete',{'id':burger.id}) }}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}