{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Login{% endblock %}


{% block body %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade in text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{ error.message }}
        </div>
    {% endif %}

    <div class="page-header container">
        <h1>Connexion</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="{{ path('kits_user_login_check') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"                >
                <div class="form-group">
                    <label for="username">Identifiant :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Se connecter" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


{% endblock %}